<div class="row-container">
    <div class="col-9">
        <div class="container">
            <div class="row">
                    <ng-container *ngFor="let item of productList">
                        <div class="card col-md-3">
                            <img style="height: 250px;width: 170px;" src="https://bookcart.azurewebsites.net/Upload/{{item.coverFileName}}"> 
                            <h5 style="white-space:nowrap; overflow: hidden; text-overflow: ellipsis;max-width: 100ch;" >{{item.title}}</h5>
                            <p><strong>Price:</strong> {{item.price| currency:"INR":"symbol"
                            }}</p>
                            <button class="btn btn-primary" (click)=addtocart(item.bookId)>Add to cart</button>
                        </div>
                    </ng-container>
            </div>
        </div>
    </div>
</div>

