// .form-control{
//     border-radius: 3px;
//     width: 600px;
//     margin-left: 50px;
// }

// .search-icon{
//     position: absolute;
//     z-index: 10;
//     right: 53%;
//     top: 22px;
//     color: blue;
// }

.navbar-dark{
    margin-bottom: 20px;
    height: 90px;
    background-color: #3f51b5;
}

input{
    height: 48px;
    width: 500px;
    font-size: 32px;
    position: absolute;
    left: 400px;
    top: 20px;
}

// .join{
//     width: 350px;
    
//     // margin-top: 20px;

// }
h1{
    color: white;
    position: absolute;
   left: 80px;
    display: inline-block;
}

mat-icon{
    // margin-top: 20px;
    font-size: 36px;
    display: inline-block;
    color: white;
    margin-left: 40px;
}
.btn-primary{
    background-color: #3f51b5;
    margin-right: 40px;
    border: none;
}

.material-icons{
    font-size: 36px;
}

.fs-1{
    color: white;
}