<header>
    <div class="navbar navbar-dark shadow-sm">
        <div>
            
            <mat-icon>book</mat-icon>
            <h1>Book Cart</h1>
            <input type="text" class="form-control" placeholder="search books">

        </div>
        <button routerLink="cart" class="btn btn-primary">
            <!-- <i style="font-size: 30px;" class="fas fa-cart-plus"></i> -->
            <span class="material-icons" matBadge="{{totalItem}}" matBadgeColor="warn"> shopping_cart</span>
            <!-- <mat-icon matBadge="{{totalItem}}" matBadgeColor="warn">shopping_cart</mat-icon> -->
                
            <!-- <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div> -->
        </button>
    </div>
</header>